
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

#danhgia-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#danhgia-table th, #danhgia-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#danhgia-table th {
    background-color: #3498db;
    color: #fff;
}

.register-button {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    position: absolute;
    top: 10px;
    right: 10px;
}